.home {
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  // padding: 1rem auto;
  background-color: rgb(224, 226, 224);
  // & > div.products {
  //   max-width: 1300px;
  //   margin: 1rem auto;
  //   background-color: rgb(224, 226, 224);
  //   width: 100%;
  // }
}

// .home {
//   width: auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: calc(100vh - 80px);
//   & div.filter {
//     flex: 1;
//   }
//   & > div.container {
//     flex: 3;
//     background-color: rgb(224, 226, 224);
//     & > div.products {
//       max-width: 1400px;
//       margin: 1rem auto;
//       background-color: rgb(224, 226, 224);
//       width: 100%;
//     }
//   }
// }
